.ceramicShowcase {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 26px;
}
.image {
  align-self: stretch;
  height: 226px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-6xl);
  box-sizing: border-box;
  background-image: url(/public/image@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  white-space: nowrap;
}
.ceramicSymmetry {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 25.2px;
}
.image1,
.imageParent {
  display: flex;
  justify-content: flex-start;
}
.image1 {
  align-self: stretch;
  height: 226px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-2xl) var(--padding-mini);
  box-sizing: border-box;
  background-image: url(/public/image1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  white-space: nowrap;
}
.imageParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-14xl);
  min-width: 290px;
  max-width: 100%;
}
.expertTouch {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 26px;
  display: inline-block;
  min-width: 128px;
}
.image2 {
  align-self: stretch;
  height: 226px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-lg) 22.699999999999815px;
  box-sizing: border-box;
  background-image: url(/public/image2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  white-space: nowrap;
}
.paintedPerfection {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 25.2px;
}
.image3 {
  align-self: stretch;
  height: 226px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-xl);
  box-sizing: border-box;
  background-image: url(/public/image3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  white-space: nowrap;
}
.frameParent,
.galleryInner,
.imageGroup {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.imageGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  min-width: 290px;
}
.frameParent,
.galleryInner {
  flex-direction: row;
  justify-content: center;
}
.frameParent {
  width: 928px;
  flex-wrap: wrap;
  gap: 36.60000000000037px;
}
.galleryInner {
  align-self: stretch;
  padding: 0 var(--padding-xl) 45.10000000000037px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-lora);
}
@media screen and (max-width: 750px) {
  .galleryInner {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .imageGroup,
  .imageParent {
    gap: 16px 33px;
  }
  .frameParent {
    gap: var(--gap-lg);
  }
}
