.frameChild {
  width: 598px;
  height: 495px;
  position: relative;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.connectUs {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  white-space: pre-wrap;
  text-align: left;
  z-index: 1;
}
.dataAggregator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.fillTheForm {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: left;
  z-index: 1;
}
.booleanOperator,
.ifStatement {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.booleanOperator {
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
}
.ifStatement {
  gap: var(--gap-mid);
}
.ifStatementParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
}
.buttonWrapper,
.ifStatementParent,
.numberCruncher,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.numberCruncher {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-14xl);
  gap: var(--gap-6xl);
}
.buttonWrapper,
.rectangleParent {
  flex-direction: row;
  padding: 0 var(--padding-5xs);
}
.rectangleParent {
  margin: 0;
  flex: 1;
  background-color: var(--white);
  flex-direction: column;
  padding: var(--padding-77xl) var(--padding-59xl) var(--padding-90xl)
    var(--padding-60xl);
  gap: var(--gap-2xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.contactForm5,
.contactForm5Wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contactForm5 {
  align-self: stretch;
  height: 465px;
  background: linear-gradient(#fff, #fff), #fff;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
}
.contactForm5Wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-18xl);
  box-sizing: border-box;
  min-width: 383px;
}
.desktopMainInner,
.frameParent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent {
  width: 1185px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.desktopMainInner {
  width: 1355px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 69.09999999999991px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--material-2-overline-size);
  color: var(--color-gray-200);
  font-family: var(--material-2-secondary-text);
}
@media screen and (max-width: 1050px) {
  .connectUs {
    font-size: var(--font-size-7xl);
  }
  .frameParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .ifStatement {
    flex-wrap: wrap;
  }
  .rectangleParent {
    padding: var(--padding-43xl) var(--padding-20xl) var(--padding-52xl);
    box-sizing: border-box;
  }
  .contactForm5 {
    height: auto;
  }
  .desktopMainInner {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .connectUs {
    font-size: var(--font-size-lgi);
  }
  .contactForm5Wrapper {
    min-width: 100%;
  }
}
