.frameChild {
  height: 706px;
  width: 1442px;
  position: relative;
  background-color: var(--color-midnightblue);
  display: none;
  max-width: 100%;
}
.whatOurClients {
  width: 221px;
  position: relative;
  letter-spacing: 1px;
  line-height: 32px;
  display: inline-block;
  z-index: 1;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  color: var(--color-black);
}
.frameWrapper,
.whatOurClientsSayParent {
  flex-direction: column;
  justify-content: flex-start;
}
.whatOurClientsSayParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-59xl);
  max-width: 100%;
}
.frameWrapper {
  flex: 1;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
  min-width: 226px;
}
.desktopMainInner,
.frameParent,
.frameWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  min-width: 225px;
}
.desktopMainInner,
.rectangleParent {
  flex-direction: row;
  box-sizing: border-box;
}
.rectangleParent {
  flex: 1;
  background-color: var(--color-midnightblue);
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-43xl) 300.2999999999993px var(--padding-26xl)
    var(--padding-317xl);
  gap: 111.29999999999929px;
}
.desktopMainInner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-27xl);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    gap: var(--gap-37xl);
    padding-left: var(--padding-149xl);
    padding-right: var(--padding-131xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    gap: var(--gap-9xl);
    padding: var(--padding-21xl) var(--padding-56xl) var(--padding-10xl)
      var(--padding-65xl);
    box-sizing: border-box;
  }
  .desktopMainInner {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .whatOurClients {
    font-size: var(--material-2-title-size);
    line-height: 26px;
  }
  .whatOurClientsSayParent {
    gap: 39px 78px;
  }
  .frameParent {
    gap: 42px 85px;
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
